*, *::before, *::after {
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: normal;
}

body {
    padding: 0;
    margin: 0;
    background: rgb(204, 61, 93);
}

.calcu-grid {
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}

.calcu-grid > button {
    cursor: pointer;
    font-size: 2rem;
    border: 1px solid rgb(54, 66, 64);
    outline: none;
    background-color: rgba(148, 129, 82, .75);
}

.calcu-grid > button:hover {
    background-color: rgba(148, 129, 82, .5);
}

.span-twice {
    grid-column: span 2;
}

.output {
    grid-column: 1/-1;
    background-color: rgba(54, 66, 64, .75);
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
}

.output .prev-operand {
    color: rgba(148, 129, 82, .75);
    font-size: 1.5rem;
}

.output .current-operand {
    color: rgb(148, 129, 82);
    font-size: 2.5rem;
    text-align: right;
}